body{
    max-width: 100%;
}

img{
    max-width: 75%;
}

@media screen and (max-width: 768px) {
    .col-sm-6 {
        text-align: center;
        margin: 25px 0;
    }
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

.container-fluid {
    padding: 60px 50px;
}